# Stuff we should ignore in the final project

# Stuff we may never need
docs.orig

# Compiled python modules
*.pyc

# Ignore package build
/build/
/dist/

# Python egg metadata
/*.egg-info

# don't keep test run files
superdeduper/test/files/last_run

# Ignore tox testing
.tox

.cache
.coverage
