# See https://docs.python.org/3/distutils/commandref.html

# include the basics
include LICENSE.txt
include VERSION
include requirements.txt
include *.rst
include _version.py
include dupliganger/_version.py

# include all files under test/
graft dupliganger/test

# exclude all .pyc and .pyo files
global-exclude *.py[co]
# exclude __pycache__
global-exclude __pycache__
# Exclude mac stuff
global-exclude .DS_Store

# Include the docs
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
include versioneer.py
